<br>
<br>
<br>
<div class="add-medicine-container">

<br>
<br>
  <h2>{{ isEditMode ? 'Edit Medicine' : 'Add Medicine' }}</h2>

  <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div>
      <label>Name:</label>
      <input type="text" [(ngModel)]="medicine.name" name="name" required />
    </div>

    <div>
      <label>Description:</label>
      <textarea [(ngModel)]="medicine.description" name="description"></textarea>
    </div>

    <div>
      <label>Price:</label>
      <input type="number" [(ngModel)]="medicine.price" name="price" required />
    </div>

    <div>
      <label>Stock:</label>
      <input type="number" [(ngModel)]="medicine.stock_quantity" name="stock" required />
    </div>

    <button type="submit">{{ isEditMode ? 'Update' : 'Add' }} Medicine</button>
  </form>
  <br>
  <br>

</div>
<br>
<br>
<br>
