
<nav class="navbar">
  <div class="logo">💊 MedicineApp</div>
  
  <ul class="nav-links">
    <li><a routerLink="/view-medicines">View Medicines</a></li>
	<li><a routerLink="/cart">Cart</a></li>
    <li *ngIf="authService.isAdminUser()">
      <a routerLink="/add-medicine">Add Medicine</a>
    </li>

    <li *ngIf="authService.isAdminUser()">
      <a routerLink="/manage-medicine">Manage Medicines</a>
    </li>

    <li *ngIf="!authService.isLoggedIn()">
      <a routerLink="/login">Login</a>
    </li>

    <li *ngIf="authService.isLoggedIn()">
      <button (click)="logout()">Logout</button>
    </li>
  </ul>
</nav>

<hr />
